.keyboard {
    display: flex;
}

.operational-keys {
    font: 100 14px 'Roboto';
    -webkit-box-direction: normal;
    box-sizing: inherit;
    display: flex;
    background: linear-gradient(to bottom, rgba(202, 202, 204, 1) 0%, rgba(196, 194, 204, 1) 100%);
}

.digit-keys {
    font: 100 14px 'Roboto';
    box-sizing: inherit;
    background: #e0e0e7;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.digit-key {
    -webkit-box-direction: normal;
    box-sizing: inherit;
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 80px;
    border-top: 1px solid #777;
    border-right: 1px solid #666;
    line-height: 80px;
    font-size: 2.25em;
    width: 160px;
    text-align: left;
    padding-left: 32px;
}

.operator-keys {
    font: 100 14px 'Roboto';
    -webkit-box-direction: normal;
    box-sizing: inherit;
    background: linear-gradient(to bottom, rgba(252, 156, 23, 1) 0%, rgba(247, 126, 27, 1) 100%);
}

.operator-key {
    -webkit-box-direction: normal;
    box-sizing: inherit;
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 80px;
    height: 80px;
    border-top: 1px solid #777;
    text-align: center;
    line-height: 80px;
    color: white;
    border-right: 0;
    font-size: 3em;
}

#app {
    font: 100 14px 'Roboto';
    box-sizing: inherit;
    width: 320px;
    height: 520px;
    position: relative;
    /* warpper */
    font: 100 14px 'Roboto';
    box-sizing: inherit;
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

html {
    -webkit-locale: "en";
    box-sizing: border-box;
    /* warrper */
}

body {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    -webkit-box-direction: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    overflow: auto;
}