.keyboard {
    /* display: flex; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
    /* display: table; */
}

.operational-keys {
    display: inline-flex;
    /* font: 100 14px 'Roboto'; */
    /* -webkit-box-direction: normal; */
    /* box-sizing: inherit; */
    /* display: flex; */
    /* background: linear-gradient(to bottom, rgba(202, 202, 204, 1) 0%, rgba(196, 194, 204, 1) 100%); */
}

.digit-keys {
    display: table;
    /* font: 100 14px 'Roboto';
    box-sizing: inherit;
    background: #e0e0e7;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap-reverse; */
}

.digit-key {
    display: table-cell;
    /* grid-column: 1 / 3;
    grid-row: 1; */
}

.operator-keys {

}

.operator-key {

}

#app {

}

html {

}

body {

}